@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Noto+Sans+Thai:wght@500&family=Roboto:wght@500&display=swap');


body{
  background-image: url("https://media.discordapp.net/attachments/1152477567828381716/1171349384986890240/background.png?ex=655c5b20&is=6549e620&hm=40132610d335d1f03b65973672a78f446261d46572e6e1d75eaa91244aa7e33a&=&width=1012&height=572");
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-style: "Kanit", sans-serif;
  --font-family:"Roboto",sans-serif;;
  --font-color: hsl(240, 100%, 50%);
  --color-white: hsl(120, 120%, 120%);
}

.container{
  display: flex;
  align-items: center;
  max-width: 750px;
  margin: 50px auto;
  background-color: hsl(61, 99%, 65%);
  width: 50rem;
  height: 28rem;
  border-radius: 100px;
  filter: drop-shadow(5px 5px 10px hsl(191, 99%, 65%));
}



h1 {
  color: hsl(0, 100%, 99%);
  margin-top: 90px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 2.8rem;
  filter: drop-shadow(1px 1px 4px hsl(239, 72%, 75%));
}


.home-profile-img {
  width: 320px;
  filter: drop-shadow(10px 5px 20px hsl(240, 95%, 70%));
}

.home-profile p{
  text-align: right;
}

 
p{
  color: var(--font-color);
  text-align: left;
  padding-bottom: 20px;
  padding: 0 auto;
  font-family: var(--font-style);
  font-size: large;
}






